/* === Navbar === */
.header {
  z-index: 1050;
}

.c-navbar {
  height: 100%;
  transition: all 0.3s ease-in-out;
}

/* .c-navbar a {
  width: max-content;
} */

.c-navbar.scrolled {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.c-navbar-top-link {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-right: 1px solid #666666;
  margin-left: 16px;
  padding-right: 12px;
}

.c-navbar-top-link.last-child {
  padding-right: 0;
  border-right: none;
}

.c-navbar-top-item {
  transition: all 0.3s ease-in-out;
}

.c-navbar.scrolled
  > .container
  > .c-navbar-content
  > .c-navbar-items
  > .c-navbar-top-item {
  margin-top: -40px;
  visibility: hidden;
}

.c-navbar-bottom-item {
  transition: all 0.3s ease-in-out;
}

.eria-logo {
  transition: all 0.3s ease-in-out;
}

.c-navbar.scrolled
  > .container
  > .c-navbar-content
  > .c-navbar-brand
  > .logo-desc {
  margin-bottom: -60px;
  margin-top: 36px;
  visibility: hidden;
}

.c-navbar.scrolled {
  padding: 10px 0;
}

.c-navbar-top-dropdown,
.c-navbar-top {
  padding: 6px 0;
}

.c-navbar-top-dropdown:hover {
  cursor: pointer;
}

.c-navbar-top-dropdown.closed > .dropdown-menu-container {
  display: none;
}

.c-navbar-top-dropdown > .dropdown-menu-container {
  display: block;
  position: absolute;
  background-color: transparent;
  padding-top: 10px;
  width: max-content;
}

.dropdown-menu-items {
  padding: 28px;
  font-size: 14px;
  font-weight: 500;
  color: var(--primaryBlue);
  background-color: #fff;
  box-shadow: 0 4px 16px rgb(46 41 51 / 8%), 0 8px 24px rgb(71 63 79 / 16%);
}

.c-navbar-top-dropdown .c-navbar-top-link:hover {
  text-decoration: none;
}

.navbar .container .row {
  position: relative;
}

.nav-logo {
  width: 100%;
}

.mega-menu {
  padding: 12px 0;
}

.mega-menu:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}

.mega-menu > .mega-menu-container {
  display: none;
}

.mega-menu.showed > .mega-menu-container {
  cursor: auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 10px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.c-navbar.scrolled .mega-menu-container {
  padding-top: 20px;
}

.dropdown-menu-container.people > .dropdown-menu-items li:nth-child(5) {
  margin-bottom: 0 !important;
}

.mega-menu-title {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 15px;
  border-bottom: 1px solid #69aab4;
  margin-bottom: 1.25rem;
}

.btn.c-navbar-search-button {
  padding: 12px;
}

.btn.c-navbar-search-button:focus {
  box-shadow: none;
}

.btn.c-navbar-search-button:hover {
  background-color: #f6f6f6;
}

.event-videos-image {
  height: 75.36px;
}

@media (min-width: 1140px) {
  .event-videos-image {
    height: 94.34px;
  }
}

/* ===== */
