.publication-tittle {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 28px;
  color: var(--primaryBlue);
  border-bottom: 1px solid #003680;
}

.publications-page {
  position: relative;
}

.publications-page tbody {
  font-family: "Literata", serif;
}

.publication-collapsible {
  background-color: #e4f4f9;
  color: #414548;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.publicationactive,
.publication-collapsible:hover {
  background-color: #e4f4f9;
}

.publication-collapsible:after {
  /*content: "\2304";*/
  color: var(--primaryBlue);
  font-size: 20px;
  float: right;
  margin-left: 5px;
}

button:focus {
  outline: 0px dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.publicationactive:after {
  /*content: "\2303";*/
}

.publicationcontent {
  max-height: 0;
  overflow: auto;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
}

.publication-tb-tittle {
  color: #062e65 !important;
  font-weight: 600;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #dee2e6;
}

.pub-td,
.pub-th {
  vertical-align: top;
  border-top: 0px solid #dee2e6 !important;
}

.pub-tc {
  padding: 0.75rem;
  vertical-align: top;
  border-bottom: 1px solid rgb(223, 252, 252) !important;
}

.publication-type-tittle {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  font-weight: 700;
  font-size: 22px;
  font-style: normal;

  color: #251f20;

  vertical-align: Top;
}

.publication-browse-tittle {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
  line-height: 1.227;
  color: #003680;
  vertical-align: Top;
  border-bottom: 1px solid #b7d6db;
  padding-bottom: 15px;
}

.sorrt-tittle {
  margin-right: -4px;
  color: #033780;
  font-weight: bold;
  padding: 10px;
}

.sort-section {
  display: inline-flex;
}

.publication-browsing-heading {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.2em;
  font-size: 22px;
  color: var(--primaryBlue);
  font-weight: bold;
}

.Publication-tittle-subtittle {
  color: #70c9ce;
  font-weight: 700;
  font-size: 12px;
  color: #69aab4;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.Publication-tittle-bc {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;

  line-height: 1.227;
  color: #003680;

  vertical-align: Top;
}

#dropdownCategory,
#dropdownMenuButton {
  text-align: left !important;
  border-radius: 0 !important;
  border: 1px solid #d9dde1 !important;
  border: 1px solid #d9dde1 !important;
  color: #251f20 !important;
  height: 54px !important;
}

.publications-page .tb-content {
  font-family: "Literata";
  font-weight: 400;
  font-size: 16px;
  font-style: normal;

  color: #251f20;

  vertical-align: Top;
}

.t-middle {
  color: #003680 !important;
}

.publications-page .tb-tittle {
  color: white !important;
  font-family: "Literata";
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
}

.publication-tb-tittle {
  font-size: 16px;
  font-style: normal;

  line-height: 1.688;
  color: #062e65;

  vertical-align: Top;
}

.publication-browse-page .dropdown .fa {
  position: absolute;
  right: 10%;
  top: 30%;
  color: var(--primaryBlue);
  font-weight: bold;
}

.search-arrow-btn .dropdown .fa {
  position: absolute;
  right: 10%;
  top: 45%;
  color: var(--primaryBlue);
  font-weight: bold;
}

.publication-browse-page .date {
  font-family: "Literata", Italic;
  font-weight: 300;
  font-size: 12px;
  font-style: italic;

  color: #5c5c5c;

  vertical-align: Top;
}

.category-pb {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;

  color: #69aab4;

  vertical-align: Top;
}

.pb-author {
  font-family: "Literata", Italic;
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
  padding-right: 5px;
  color: #5c5c5c;

  vertical-align: Top;
}

.down-btn-p {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 900 !important;
  font-size: 12px;
  font-style: normal;

  color: #062e65;

  vertical-align: Top;
}

.download-section-two .pb-c {
  font-family: "Literata" !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  font-style: normal;

  line-height: 1.688 !important;
  color: #251f20 !important;

  vertical-align: Top;
}

.pb-au-sec {
  display: inline-flex;
}

.pb-img {
  height: 249px !important;
  width: 159px !important;
}

.pb-related-artile {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 700 !important;
  font-size: 28px;
  font-style: normal;
  line-height: 1.607;
  color: #0d0d0d;

  vertical-align: Top;
}

.main-privacytitle-p {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 700 !important;
  font-size: 28px;
  font-style: normal;
  padding-bottom: 15px;
  line-height: 1.607;
  color: #003680;

  vertical-align: Top;
  border-bottom: 1px solid #69aab4;
}

share-article-date {
  /* font-family: "Literata"; */
  font-weight: 300 !important;
  font-size: 14px;
  font-style: normal;
  color: #5c5c5c;
  vertical-align: Top;
}

.book-by,
.date {
  font-size: 13px;
  vertical-align: center;
}

.book-by-author {
  font-family: Literata Roman;
  font-weight: 500 !important;
  font-size: 12px;
  font-style: normal;
  color: #ffffff;
  vertical-align: Top;
  bottom: 0px !important;
}

.publications-page .highlight-description {
  font-family: Literata Roman;
  font-weight: 300 !important;
  font-size: 17px;
  font-style: normal;
  line-height: 24 (1.6);
  color: #ffffff;
  vertical-align: Top;
  bottom: 0px !important;
}

.publication-btn {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 900 !important;
  font-size: 12px;
  font-style: normal;
  color: #ffffff;
  vertical-align: Top;
  border-radius: 0 !important; /*8px !important*/
}

.pb-table {
  margin-top: -10px !important;
}

.Browser-type-pb {
  /* font-family: "Literata" !important; */
  font-weight: 500 !important;
  font-size: 16px;
  font-style: normal;
  color: #003680;
  vertical-align: Top;
}

.pub-td {
  /* font-family: "Literata" !important; */
  font-weight: 300 !important;
  font-size: 16px;
  font-style: normal;
  color: #251f20;
  vertical-align: Top;
}

.publicationcontent .pb-th {
  width: 351.4px !important;
}

.page-link {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400 !important;
  font-size: 14px;
  font-style: normal;
  color: #474751;
  vertical-align: Top;
}

.gray-box {
  height: 416px;
  background: #f8f8f8;
  width: 590px;
  position: absolute;
  top: 30px;
  right: 112px;
}
.pubdescde {
  font-family: "Literata", serif;
}

.publication-detail-page .profile-overView div {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  border-left: 1px solid #cfcfcf;
  font-size: 15px;
  line-height: 1.4;
  font-family: "Literata", serif;
  color: #251f20;
  /* font-weight: 500; */
}

.publication-detail-page .profile-overView div:hover {
  border-left: 2px solid #69aab4;
  /* color: var(--primaryBlue); */
  color: #305f9b;
  font-weight: bold;
}
.publication-detail-page .profile-overView {
  position: relative;
  background-color: #f3f8fc;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.publication-detail-page .profile-overView .selected {
  border-left: 2px solid #69aab4;
  /* color: var(--primaryBlue); */
  color: #305f9b;
  font-weight: bold;
}
