.right-search {
  padding-top: 68px !important;
}

.search-btn {
  width: 350px !important;
}

.search-btn1 {
  padding-left: 0px !important;
}

.searc-main-sec .chc-btn {
  padding: 10px;
  padding-left: 25px !important;
}

.chc-box {
  margin-left: 16xpx !important;
}

.dropdown-toggle::after {
  color: var(--primaryBlue) !important;
  /* text-align: -webkit-center; */
  float: right;
}

#dropdownMenuLink3 {
  text-align: left !important;
  border-radius: 0 !important;
  border: 1px solid #d9dde1 !important;
  border: 1px solid #d9dde1 !important;
  font-size: 12px !important;
  color: #251f20 !important;
  height: 38.88px !important;
  padding-top: 12px;
  padding-left: 14px;
}

.search-section .date {
  font-family: "Literata", Italic;
  font-weight: 300 !important;
  font-size: 12px;
  font-style: italic;
  color: #5c5c5c;
  vertical-align: Top;
}

.link a {
  font-family: "Literata", Italic;
  font-weight: 300 !important;
  font-size: 16px;
  font-style: italic;
  color: #69aab4 !important;
  vertical-align: Top;
}

.main-search-tittle {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bolder;
  font-size: 28px;
  font-style: normal;

  line-height: 1.607;
  color: #003680;
  text-align: Left;
  vertical-align: Top;
  border-bottom: 1px solid#69AAB4;
}

.search-result-btn {
  border: 1px solid #d9dde1;
  border-radius: 0;
  width: 100%; /*352px*/
  height: 54px;
  background: white;
  color: #251f20;
  vertical-align: Top;
  padding: 10px !important;
}

.searc-main-sec .publication-collapsible:after {
  content: "";
  color: var(--primaryBlue);
  font-size: 20px;
  float: right;
  margin-left: 5px;
}

.searc-main-sec .fa-angle-down {
  color: var(--primaryBlue);
  font-weight: bold;
  font-size: 20px;
}

.searc-main-sec .fa-calendar {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #003680;
}

.sr-arrow .fa-calendar {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;

  color: #003680;
  padding-left: 61.5%;
}

.button-search4 {
  color: #ffffff !important;
  background-color: #003680 !important;
  border-color: #003680 !important;
  border-radius: 0 !important; /*8px*/
  margin-top: 10px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 3rem;
  font-size: 1rem;
  line-height: 1.5;
  width: 352px !important;
  /*border-radius: 0;*/
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.sr-arrow .fa-angle-down {
  color: var(--primaryBlue);
  font-weight: bold;
  font-size: 20px;
  padding-right: 0px;
}

.searc-main-sec .publicationcontent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
  border: 0px solid #dadde2;
  margin-top: -4px;
  height: 100%;
}

.arrow-sr {
  position: absolute;
  right: 13%;
  top: 13.5%;
  color: var(--primaryBlue);
  font-weight: bold;
  font-size: 25px;
}

.arrow-sr1 {
  position: absolute;
  right: 13%;
  top: 7%;
  color: var(--primaryBlue);
  font-weight: bold;
  font-size: 25px;
}
.check-btns {
  padding-top: 20px;
}
.searc-main-sec .input-group {
  border-radius: 0 !important;
}

/* The container */
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: #251f20;
  vertical-align: middle;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 0;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #062e65;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\2713";
  position: absolute;
  display: none;
  color: white;
  font-weight: bold;
  padding-left: 3px;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
}
*/ .month {
  padding: 5px 5px;
  width: 100%;
  background: #ffffff;
  text-align: center;
}
.month-name {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600;
  font-size: 13px !important;
  font-style: normal;
  line-height: 1.538;
  color: #062e65 !important;
  vertical-align: Top;
  padding-top: 15px;
}

.next,
.prev {
  color: #c9c9c9 !important;
  padding-top: 15px;
}
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
}

.month .next {
  float: right;
}

.weekdays {
  margin: 0;
  padding-top: 0px;
  padding-right: 0;
  padding-left: 26px;
  padding-bottom: 0px;
  background-color: rgb(255, 255, 255);
}

.calander hr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  font-size: 11px;
  font-style: normal;

  line-height: 1.455;
  color: #999999;
}

.days {
  padding-top: 10px;
  padding-right: 0;
  padding-left: 26px;
  padding-bottom: 10px;
  background: rgb(255, 255, 255);
  margin: 0;
}

::marker {
  color: black !important;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  font-size: 11px;
  font-style: normal;

  line-height: 1.455;
  color: #000000;
}

.days li .active {
  padding: 5px;
  background: #062e65;
  color: white !important;
}

/* Add media queries for smaller screens */
@media screen and (max-width: 720px) {
  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {
  .weekdays li,
  .days li {
    width: 12.5%;
  }
  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {
  .weekdays li,
  .days li {
    width: 12.2%;
  }
}

.pvcy #showsearch {
  padding-left: 26px !important;
}

.rgt {
  float: right;
  width: 200px;
}

.chr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
