:root {
    --primaryBlue: #062E65;
    --primaryBackground: #ffffff;
    --red: #ff0d00;
    --font-heading: 'Literata', serif;
    --font-primary: 'SF Pro Display', 'Source Sans Pro', Arial, sans-serif;
  }